mat-spinner {
    margin-inline: auto;
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    font-size: 1rem;
    color: var(--md-sys-color-primary);
    svg {
        fill: var(--md-sys-color-primary);
    }
}
